html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffa0f7;
  color: #000;
  text-decoration: none;
  text-align: center;
}

main {
  background-color: #ffa0f7;
  width: 80vw;
  max-width: 900px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  margin: 40px auto;
  margin: 40px auto 40px auto;
  border: 2px solid #e60fa5;
  border-radius: 5px;
}
header.primary {
  background-color: #ffffff;
  padding: 20px;
  border: 3px solid #e60fa5;
  display: flex;
  justify-content: space-between;
}

div.hgroup h1 a {
  color: #e60fa5;
  font-size: 3rem;
  text-shadow: 2px 2px #000;
}

header.primary nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.primary nav ul li a {
  color: #ffffff;
  display: block;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: 2.5px solid #e60fa5;
  border-right: 10px solid #e60fa5;
  border-left: 10px solid #e60fa5;
  border-radius: 5px 0;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 2px 1px #000;
  transition: 0.5s;
}

header.primary nav ul li a:hover {
  text-decoration: underline;
  background: rgba(0, 0, 0, 0.9);
}

.hgroup h1 {
  margin: 0;
}