body {
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0;
  padding: 20px;
  background-color: #f1f1f1;
  color: #000;
  text-decoration: none;
  text-align: center;
}
div.hgroup h1 a{
  width: 90vw;
  max-width: 900px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  border: 3px solid #13530b;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border: 3px solid #13530b;
}
.container div {
  color: #f1f1f1;
  background: #13530b;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}