body {
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0;
  padding: 20px;
  background-color: #f8dcb2;
  color: #000;
  text-decoration: none;
  text-align: center;
}
header.primary{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  max-width: 900px;
  margin: 100px auto;
  border: 3px solid #13530b;
  grid-template-areas:
    "img h1 h1 "
    ;
}

h1 a{
  margin: 100px auto;
}


.container {
  padding: 15px;
  border: 3px solid #13530b;
}
.container div {
  color: #f1f1f1;
  background: #13530b;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}

.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
    "music craft event"
    ;
}



#music{
  grid-area: music;
}

#craft{
  grid-area: craft;
}

#event{
  grid-area: event;
}

h1{
  grid-area: h1;
}

img{
  grid-area: img;
}
