body {
  font-family: "Georgia", "Times New Roman", serif;
  margin: 0;
  padding: 20px;
  background-color: #f8dcb2;
  background-image: url(../img/whitaker-point.jpg);
  background-size: cover;
  height: 100vh;
  color: #000;
  text-decoration: none;
  text-align: center;
}
div.hgroup h1 a{
  width: 90vw;
  max-width: 900px;
  margin: auto;
  border: 3px solid #13530b;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 15px;
  border: 3px solid #13530b;
}
.container div {
  color: #f1f1f1;
  background: #13530b;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.5s;
}