html {
        display: inline-block;
        width: 200px;
        padding: 5px;
        font-weight: bold;
    }

    .error {
        color: red;
        padding-left: 5px;
    }

    .formlabel {
        font-style: italic;
    }

    #diameter, #circumference, #area {
        color:blue;
    }