html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*---------- Utility Classes ----------*/

.container{
    margin:auto;
    padding:40px;
}

body{
    background-color:palevioletred;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}