body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000;
}
header {
  background-color: #ffa0f7;
  color: #ffffff;
  padding: 25px 0;
  text-align: center;
  box-shadow: 0 4px 6px #000;
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
}
header h3 {
  margin: 0;
  font-size: 1.1rem;
}
nav {
  background-color: #ffa0f7;
  text-align: center;
  padding: 12px 0;
  box-shadow: 0 2px 10px rgb(230, 15, 165);
}
nav a {
  color: #ffffff;
  margin: 0 20px;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
nav a:hover {
  color: #e60fa5;
}
section {
  margin: 20px auto;
  max-width: 900px;
  background-color: #ffa0f7;
  border-radius: 8px;
  border: 1px solid #e60fa5;
}
section h2 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #e60fa5;
}
p {
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
}