body {
  font-family: "Rubik", sans-serif;
  background: #ffa0f7;
  margin: 0;
  padding: 60px;
}

main {
  max-width: 700px;
  margin: auto;
  background: #fff;
  padding: 40px;
  border: 3px solid #e60fa5;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

a {
  display: block;
  padding: 18px 24px;
  background: #f5f5f5;
  border: 2px solid #e60fa5;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

a:hover {
  background: #ffa0f7;
  color: #000000;
}
